.container{
    /* border:2px solid blue; */
    padding:100px;
    
}
.parent1{
    border:2px solid black;
    height:150px;
    /* width:150px; */
    display:flex;
   /* position:absolute; */
    

}
.parent2{
    border:2px solid black;
    height:150px;
    /* width:200px; */
    display:flex;
    /* position:absolute; */
     /* flex-wrap: wrap; */
   
}
.child{
    /* border:2px solid red; */
    width:150px;
    position:relative;
    /* height:150px; */
    /* flex-wrap: wrap; */
    /* height:50px; */
    /* background-color:; */
   
}
.parent1>.child:nth-child(even){
    background-color:rgb(211, 211, 211);
}
.parent1>.child:nth-child(odd){
    background-color:cadetblue;
}
.parent2>.child:nth-child(odd){
    background-color:rgb(211,211,211);
}
.parent2>.child:nth-child(even){
    background-color:cadetblue;
}
img{
    position:absolute;
    padding-top: 30px;
    padding-left: 30px;
}
.parent1>.child:hover{
    background-color:turquoise;
}
.parent2>.child:hover{
    background-color:turquoise;
}